// fonts
$primary-font: "Poppins", sans-serif;
$title-font: "Poppins", sans-serif;

//colors
$color-blue-dark: #264065;
$color-blue-dark-hover: #26406547;
$color-grey: #909090;
$color-black: #070D15;
$color-white: #FFFFFF;
$color-green-light: #A9D6CB;
$color-body-bg-white: #FAF8F5;


//size
$max-desktop: 1920px;
$max-container: 1600px;