@use '../abstracts/variables' as var;

.container {
    position: relative;
    &::before {
        content: '';
        background-image: url('../../img/icon-bg-lotus.svg');
        background-repeat: no-repeat;
        opacity: 5%;
        position: absolute;
        width: 500px;
        height: 500px;
        right: 6%;
        top: 5%;
        z-index: -50;
    }
    &::after {
        content: '';
        background-image: url('../../img/img-beauty-woman-skin-care-beautiful-female-hand-touch.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 90%;
        height: 100%;
        right: -1%;
        top: 0%;
        z-index: -40;
    }

  
}