@use '../abstracts/variables' as var;

.main {
    padding: 1rem;
    position: relative;
    &__hero {
        position: relative;
        display: flex;

        &__content {
            margin-top: 80px;
            width:50%;
            &__title{
                font-size: 64px;
            }
            &__subtitle {
                margin-top: 32px;
                color: var.$color-grey;
                font-size: 24px;
                font-weight: 300;
                line-height: 40px;
            }
            &__buttons{
                margin-top: 64px;
                display: flex;
                align-items: center;
                gap: 32px;

                &__video {
                    a {
                        display: flex;
                        align-items: center;
                        &:hover {
                            background-color: var.$color-blue-dark-hover;
                            border-radius: 30px;
                            padding: 10px 20px 10px 0;
                            border: 1px solid var.$color-blue-dark;
                            transition: all 0.3s ease;
                        }
                    }
                    img {
                        margin: 0 32px;
                        padding: 12px;
                        border-radius: 50%;
                        background-color: var.$color-white;
                        box-shadow: 0 0  20px #CCC;

                    }
                }
            }
            &__data {
                background-color: var.$color-white;
                width: 80%;
                margin-top: 80px;
                padding: 33px;
                display: flex;
                gap: 50px;
                text-align: center;
                border-radius: 20px;
                &__category{
                    width: 33%;
                    img {
                        background-color: var.$color-green-light;
                        border-radius: 50%;
                        padding: 8px;
                    }
                    h2 {
                        font-size: 36px;
                        font-weight: 400;
                        margin-top: 12px;
                    }
                    p {
                        color: var.$color-grey;
                        font-weight: 300;
                        margin-top: 10px;
                        &.bold{
                            font-weight: 400;
                        }
                    }

                }
                
            }
        }

        &__testimony {
            margin-top: 315px;
            width: 545px;
            position: absolute;
            right: 0;
            bottom: 0;
            
            &__01 {
                width: 405px;
                padding: 24px;
                margin-left: 220px;
                border-radius: 10px;
                background-color: rgb(var.$color-white, 0.5);
                backdrop-filter: blur(4px);

            } 
            &__02{
                width: 405px;
                padding: 24px;
                border-radius: 10px;
                background-color: rgb(var.$color-white, 0.5);
                backdrop-filter: blur(4px);
                margin-top: 65px;    
                margin-left: 90px;
            }
        }

    }
}

